# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\VTI_Academy\final_exam_vti\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
